.post {
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  min-height: 130px;
  padding: 20px;
  .title-heading,
  .title,
  .body-heading,
  .body {
    display: inline;
    overflow: wrap;
  }
  .title-heading,
  .body-heading {
    margin-right: 10px;
  }
  button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #008cba;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

.edit-form {
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  min-height: 130px;
  padding: 20px;
  .title-edit,
  .body-edit {
    margin: 10px 0;
    input {
      width: 850px;
    }
    textarea {
      width: 850px;
    }
    label {
      font-weight: bold;
    }
  }
  button {
    margin: 0 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .cancel-btn {
    background-color: #f44336;
  }
}
